doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/scrollbar.css')
    link(rel='stylesheet', href='/css/map.css')
    script(type="text/javascript",src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry,places,")
    script(type='text/javascript', src='./js/ajax.js')
    script(type='text/javascript', src='./js/searchbar.js')
    script(type='text/javascript', src='./js/map.js')

  body(onresize='map.resize();')
    #map
    #airport-start(class='map-search-bar',contentEditable='true')
    #start-results(class='search-bar-results',for='airport-start')
    #airport-end(class='map-search-bar',contentEditable='true')
    #end-results(class='search-bar-results',for='airport-end')


  script(type='text/javascript')
    var map = new Map();
    window.onload = function() {
      map.init('/js/airports.json');
      map.render();
    }