a
{
	color: #FD0;
}
body
{
	margin: 0px;
	background: #07A;
}

header,
footer
{
	width: auto;
}
header
{
	position: relative;
	top: 10px;
}
footer
{
	background: #F30;
	color: #FFF;
}
footer-left,
footer-center,
footer-right
{
	float: left;
}
.ribbon-back
{
	z-index: -5;
	box-shadow:0px 5px 5px rgba(0,0,0,0.3);
}
.ribbon
{
	box-shadow:0px 5px 5px rgba(0,0,0,0.3);
	z-index: 6;
}
.ribbon:after,
.ribbon:before
{
	content:" ";
	position:absolute;
	bottom:-10px;
}
.ribbon:after
{
	border-right:10px solid transparent;
	right:0px;
}
.ribbon:before
{
	border-left:10px solid transparent;
	left:0px;
}


div.content
{
    background: #FFF;
    height: 100%;
    overflow: auto;
    box-shadow:5px 0px 5px rgba(0,0,0,0.3);
}